[Unit]
Description=spotict display cover art service
After=network.target x11-common.target
Wants=x11-common.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 10
SyslogIdentifier=spotict

[Install]
WantedBy=multi-user.target
