[Unit]
Description=spotict display cover art service

[Service]
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=spotipi
Environment="DISPLAY=:0"
ExecStartPre=/bin/sleep 60

[Install]
WantedBy=multi-user.target
