[Unit]
Description=spotict display cover art service
After=graphical.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 30
Environment="DISPLAY=:0"
X11InitCheck=true
SyslogIdentifier=spotict

[Install]
WantedBy=multi-user.target
